# See 'https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder' for below explanation
nginx/swagdata/*
!swagdata/nginx/site-confs/default.conf

# Environment variables
.env

# For ignition config
config.ign

# For ansible testing
playbook.yml
inventory
